[submodule "recipe/external/src/virtualenv"]
	path = recipe/external/src/virtualenv
	url = https://github.com/pypa/virtualenv.git
[submodule "recipe/external/src/rootpy"]
	path = recipe/external/src/rootpy
	url = https://github.com/uwcms/rootpy.git
