*.pyc
CVS
*.pdf
*.png
*.C
*.tex
*.json
__init__.py
*.root
do_*.txt
*.log
*.txt
*.tgz
*card.*json
*\.card
recipe/external/*
docs/build/*
*_C.d
*_C.so
*.d
*.so
.__afs*
callgrind.out.*
*.orig
*.rej
*.swp
*nohup.out
*.dat
*.DAT
*.tbl
*~
NtupleTools/test/Pdfdata/*
NtupleTools/test/br.sm*
NtupleTools/test/*.sh
NtupleTools/test/*.out
