*.pyc
CVS
*.pdf
*.png
*.C
*.tex
*.json
__init__.py
*.root
do_*.txt
*.log
*.txt
*.tgz
*card.*json
*\.card
recipe/external/*
docs/build/*
*_C.d
*_C.so
*.d
*.so
.__afs*
callgrind.out.*
*.orig
*.rej
*.swp
